# Q3 Answer 
## Writen a code to connect MongoDB to Python

In [1]:
import pymongo
from pymongo import MongoClient

# create a MongoClient instance
client = MongoClient()

# connect to the database
db = client['my_database']

# create a collection
my_collection = db['my_collection']

In [2]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

# Q4 Answer

In [3]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.xzbekp6.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [4]:
client

MongoClient(host=['ac-nzf4dk4-shard-00-02.xzbekp6.mongodb.net:27017', 'ac-nzf4dk4-shard-00-01.xzbekp6.mongodb.net:27017', 'ac-nzf4dk4-shard-00-00.xzbekp6.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-62ynfz-shard-0', tls=True)

In [5]:
client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.xzbekp6.mongodb.net/?retryWrites=true&w=majority")

In [6]:
# connect to the database
db = client["my_database"]

# create a collection
my_collection = db["my_collection"]

# insert one record
my_record = {"name": "aanand", "age": 27, "city": "bhagyanagar"}
inserted_record_id = my_collection.insert_one(my_record).inserted_id

# print the inserted record using find_one()
print(my_collection.find_one({"_id": inserted_record_id}))

{'_id': ObjectId('64199efbd4a5254acbb50adf'), 'name': 'aanand', 'age': 27, 'city': 'bhagyanagar'}

# Q5 Answer
## the above code is used

In [ ]:
inserted_records_ids = my_collection.insert_many(my_records).inserted_ids

In [11]:
# print the inserted records using find()
for record in my_collection.find({"_id": {"$in": inserted_records_ids}}):
    print(record)

{'_id': ObjectId('64199f81d4a5254acbb50ae3'), 'name': 'avi', 'age': 27, 'city': 'dbl'}
{'_id': ObjectId('64199f81d4a5254acbb50ae4'), 'name': 'nash', 'age': 27, 'city': 'bhagyanagar'}
{'_id': ObjectId('64199f81d4a5254acbb50ae5'), 'name': 'krishna', 'age': 26, 'city': 'bdr'}

In [ ]:
# query the collection
query = {"city": "bdr"}
results = my_collection.find(query)

In [15]:
# print the results
for i in results:
    print(i)

{'_id': ObjectId('64199f65d4a5254acbb50ae2'), 'name': 'krishna', 'age': 26, 'city': 'bdr'}
{'_id': ObjectId('64199f81d4a5254acbb50ae5'), 'name': 'krishna', 'age': 26, 'city': 'bdr'}

# Q6 Answer
## Q4 codes are used here

In [17]:
from pymongo import MongoClient, ASCENDING, DESCENDING

In [26]:
my_collection.insert_many([
    {"name": "avi", "age": 26, "city": "dbl"},
    {"name": "nash", "age": 27, "city": "bhagyanagar"},
    {"name": "krishna", "age": 24, "city": "bdr"}
])

In [30]:
results = my_collection.find().sort("age", ASCENDING)

In [31]:
for i in results:
    print(i)

{'_id': ObjectId('6419a3d3d4a5254acbb50aeb'), 'name': 'krishna', 'age': 24, 'city': 'bdr'}
{'_id': ObjectId('6419a393d4a5254acbb50ae6'), 'name': 'avi', 'age': 25, 'city': 'dbl'}
{'_id': ObjectId('64199f65d4a5254acbb50ae2'), 'name': 'krishna', 'age': 26, 'city': 'bdr'}
{'_id': ObjectId('64199f81d4a5254acbb50ae5'), 'name': 'krishna', 'age': 26, 'city': 'bdr'}
{'_id': ObjectId('6419a393d4a5254acbb50ae8'), 'name': 'krishna', 'age': 26, 'city': 'bdr'}
{'_id': ObjectId('6419a3d3d4a5254acbb50ae9'), 'name': 'avi', 'age': 26, 'city': 'dbl'}
{'_id': ObjectId('64199efbd4a5254acbb50adf'), 'name': 'aanand', 'age': 27, 'city': 'bhagyanagar'}
{'_id': ObjectId('64199f65d4a5254acbb50ae0'), 'name': 'avi', 'age': 27, 'city': 'dbl'}
{'_id': ObjectId('64199f65d4a5254acbb50ae1'), 'name': 'nash', 'age': 27, 'city': 'bhagyanagar'}
{'_id': ObjectId('64199f81d4a5254acbb50ae3'), 'name': 'avi', 'age': 27, 'city': 'dbl'}
{'_id': ObjectId('64199f81d4a5254acbb50ae4'), 'name': 'nash', 'age': 27, 'city': 'bhagyanagar'}
{'_id': ObjectId('6419a393d4a5254acbb50ae7'), 'name': 'nash', 'age': 27, 'city': 'bhagyanagar'}
{'_id': ObjectId('6419a3d3d4a5254acbb50aea'), 'name': 'nash', 'age': 27, 'city': 'bhagyanagar'}

In [32]:
desc1 = my_collection.find().sort([("age", DESCENDING), ("name", ASCENDING)])

In [33]:
for i in desc1:
    print(i)

{'_id': ObjectId('64199efbd4a5254acbb50adf'), 'name': 'aanand', 'age': 27, 'city': 'bhagyanagar'}
{'_id': ObjectId('64199f65d4a5254acbb50ae0'), 'name': 'avi', 'age': 27, 'city': 'dbl'}
{'_id': ObjectId('64199f81d4a5254acbb50ae3'), 'name': 'avi', 'age': 27, 'city': 'dbl'}
{'_id': ObjectId('64199f65d4a5254acbb50ae1'), 'name': 'nash', 'age': 27, 'city': 'bhagyanagar'}
{'_id': ObjectId('64199f81d4a5254acbb50ae4'), 'name': 'nash', 'age': 27, 'city': 'bhagyanagar'}
{'_id': ObjectId('6419a393d4a5254acbb50ae7'), 'name': 'nash', 'age': 27, 'city': 'bhagyanagar'}
{'_id': ObjectId('6419a3d3d4a5254acbb50aea'), 'name': 'nash', 'age': 27, 'city': 'bhagyanagar'}
{'_id': ObjectId('6419a3d3d4a5254acbb50ae9'), 'name': 'avi', 'age': 26, 'city': 'dbl'}
{'_id': ObjectId('64199f65d4a5254acbb50ae2'), 'name': 'krishna', 'age': 26, 'city': 'bdr'}
{'_id': ObjectId('64199f81d4a5254acbb50ae5'), 'name': 'krishna', 'age': 26, 'city': 'bdr'}
{'_id': ObjectId('6419a393d4a5254acbb50ae8'), 'name': 'krishna', 'age': 26, 'city': 'bdr'}
{'_id': ObjectId('6419a393d4a5254acbb50ae6'), 'name': 'avi', 'age': 25, 'city': 'dbl'}
{'_id': ObjectId('6419a3d3d4a5254acbb50aeb'), 'name': 'krishna', 'age': 24, 'city': 'bdr'}